/* Neste arquivo, faremos TODAS as REGRAS
CSS necessárias para a formatação do site. */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/watercolor.png);
    
}


h1 {color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: black;
padding: 10px;
border: darkblue solid 4px;
text-align: center;
box-shadow: blue 0 0 20px inset;
}

#container {
    background-color: white;
    width:80%;
    margin: auto;
    box-shadow: black 0 0 5px;
    padding: 16px;
    border-radius: 8px;
    
}

h2 {
    font-size: 20px;
    border-bottom: solid 5px;
    border-left: dashed 5px;
    padding-left: 10px;
}

h3 {
    background: linear-gradient(135deg, #fcecfc 0%,#fba6e1 37%,#fd89d7 76%,#ff7cd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.destaque {
    background-color: black;
    padding: 3px;
    color: white;
    border-radius: 4px;

}

figure {
    margin: 0;
    text-align: center;
}

img {
    max-width: 100%;
}

a{
    color: red;
}